<% include partials/header %>


<h1>Список</h1>
<div class="container">
    <div class="ui small icon fluid input" data-children-count="1">
      <input type="search" name="search" placeholder="Поиск по таблице" onkeyup="search()" id="search">
      <i class="search icon"></i>
    </div>
</div>
<div class="container">
    <div class="ui fluid buttons">
      <button class="ui button" id="inStockBtn">В наличии <span id="stockNum"></span></button>
      <button class="ui button" id="fullTable">Полная таблица</button>
    </div>
</div>

<div class="container">
<table class="ui celled center aligned table">
    <thead>
        <th class="elementsFT invis inStock">Наличие</th>
        <th>DMC</th>
        <th>ПНК им.Кирова</th>
        <th class="elementsFT invis">Anchor</th>
        <th class="elementsFT invis">Madeira</th>
        <th>Цвет</th>
    </thead>
    <tbody>
        <% muline.forEach(function(muline){ %>
        <tr>
            <td class="elementsFT invis inStock">
                <%= muline.stock %>
            </td>
            <td>
                <a href="/list/<%=muline.DMC %>/edit"><%= muline.DMC %></a>
            </td>
            <td>
                <%= muline.Kirova %>
            </td>
            <td class="elementsFT invis">
                <%= muline.Anchor %>
            </td>
            <td class="elementsFT invis">
                <%= muline.Madeira %>
            </td>
            <td style= "background: #<%= muline.color %>" class="color" title="<%= muline.color_en %>">
                
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
</div>

<% include partials/footer %>