<% include partials/header %>
<% muline.forEach(function(muline){ %>
<h1>DMC <%= muline.DMC %></h1>
<% }) %>

<div class="container">
    <a class="ui inverted primary basic huge fluid button" href="/list">Назад к списку</a>
</div>

<div class="container">
<table class="ui celled center aligned table">
    <thead>
            <th>Наличие</th>
            <th>ПНК</th>
            <th>Anchor</th>
            <th>Madeira</th>
            <th>Цвет RU</th>
            <th>Цвет EN</th>
            <th>Цвет</th>
    </thead>
    <tbody>
    <% muline.forEach(function(muline){ %>
        <tr>
            <td>
                <%= muline.stock %>
            </td>
            <td>
                <%= muline.Kirova %>
            </td>
            <td>
                <%= muline.Anchor %>
            </td>
            <td>
                <%= muline.Madeira %>
            </td>
            <td>
                <%= muline.color_ru %>
            </td>
            <td>
                <%= muline.color_en %>
            </td>
            <td style= "background: #<%= muline.color %>"; class="color" title="<%= muline.color_en %>">
                
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>
</div>


<div class="container">
    <% muline.forEach(function(muline){ %>
    <a class="ui inverted orange basic huge fluid button" href="/list/<%= muline.DMC %>/edit">Редактировать</a>
    <% }) %>
</div>

<% include partials/footer %>